.title{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.red{
    background: rgb(218, 8, 8);
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

button{
    width: 90px;
    margin-right: .5rem;
}

form input{
    line-height: 2rem;
}