.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
}

.footer span {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.footer i {
  padding-right: 5px;
  font-size: 1rem;
}

.footer strong {
  padding-left: 5px;
}
